layout {
    tab name="nvim" focus=true {
        pane
    }

    tab name="shell" {
        pane
    }

    default_tab_template {
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                format_left   "{mode} #[fg=#fd6883,bold]{session}{tabs}"  
                format_right  "{command_git_branch} {datetime}"
                format_space  ""

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#403f53]{char}"  
                border_position "top"

                hide_frame_for_single_pane "true"
                mode_normal  "#[bg=#282a36] "  
                mode_tmux    "#[bg=#fd6883] "  

                tab_normal   "#[fg=#b2b2b2] {name} "  
                tab_active   "#[fg=#f9cc6c,bold,italic] {name} "  

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=#f38d70] {stdout} "  
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"

                datetime        "#[fg=#b2b2b2,bold] {format} "  
                datetime_format "%A, %d %b %Y %H:%M"
                datetime_timezone "Europe/Berlin"
            }
        }
        children
        pane size=1 borderless=true  {
            plugin location="zellij:status-bar"
        }
    }
}
